@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}


:root {
    --roxo: #03045e;
    --azu: #3a0ca3;
    --roza: #ff006e;
    --preto: #000814;
    --preto-azulado: #001d3d;
    --azul-marinho: #005f73;
    --fonte-titulo: "Inter", sans-serif;
    --fonte-texto: "Afacad Flux", sans-serif;
}

body {
    background-color: var(--roxo);
    font-family: var(--fonte-texto);
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--preto);
}

.cabecalho-logo {
    width: 10%;
    border-radius: 100%;
    padding: 12px;
}

.cabecalho-link{
    text-decoration: none;
    color:var(--roza);
    font-size: 5em;
    margin-right: 1em;
}

.cabecalho-link:hover {
    color: var(--azul-marinho);
    font-size: 2.8em;
    transition: 0.3s;
}

.principal-capa {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--roxo);
    padding: 24px 12px;
}


.principal-capa__titulo {
    font-family: var(--fonte-titulo);
    font-size: 32px;
}

.principal-capa__texto {
    font-size: 24px;
}

.principal.capa__combotao{
display: flex;
flex-direction: column;
align-items: flex-start;
}

.principal-capa___botao{
background-color: var(--azul-marinho);
text-decoration: none;
padding: 1.3em;
color: var(--preto);
margin-top: 2em;
border-radius: 16px;
font-size: 1.2em
}