@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}


:root{
    --roxo: color(#03045e);
    --azu: color(#3a0ca3);
    --roza: color(#ff006e);
    --preto: color(#000814);
    --preto-azulado:(#001d3d);
    --azul-marinho:(#005f73);
--fonte-titulo: "Inter", sans-serif;
--fonte-texto: "Afacad Flux", sans-serif;
}
body{
    background-color:var(--roxo);
    font-family:var(--fonte-texto);
}
.cabecalho{
    background-color: var(--preto);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    
}
.cabecalho-img{
    width: 10%;
    border-radius: 100%;
}
.cabecolho-link:hover{
    text-emphasis: none;
    font-family:var(--fonte-titulo);
    color: var(--roza);
    margin-right: 24px ;

}
